@model MauThietKePhanMem.Models.ChiTietDonDatHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietDonDatHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhGiaSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhGiaSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinhLuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinhLuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoluongMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoluongMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonDatHang.DiaChiNhanHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonDatHang.DiaChiNhanHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatHang.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatHang.TenMH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDChiTietDDH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
