@model MauThietKePhanMem.Models.NhanVien
@{
    ViewBag.Title = "Duplicate";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Hãy tạo thêm một nhân viên giống với nhân viên này !!!</h2>
                <h4 class="card-title">Chi tiết nhân viên</h4>

                <form class="forms-sample">
                    
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Tên nhân viên</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.TenNhanVien)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">SDT</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.SDT)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email </label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Địa chỉ</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.DiaChi)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Chức vụ</label>
                        <div class="col-sm-9 money">
                            @Html.DisplayFor(model => model.ChucVu)
                        </div>
                    </div>                   
                </form>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button style="width:180px; type="submit" value="Duplicate" class="btn btn-primary mr-2">Duplicate</button>
        </div>
    }

    <a href="~/Admin/AdminNhanVien/Index">
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block" style="width:300px; margin-top:40px">Trở về</button>
    </a>
</div>
